SITE_URL=
REVALIDATE_SECRET=
NEXT_PUBLIC_SITE_NAME=
CONTENT_ROOT=
ANALYTICS_ROOT=
ANALYTICS_SALT=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=true
MAIL_FROM=
MAIL_TO=thanhtungit92@gmail.com
